{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href=""/>
    <link rel = "stylesheet" type = "text/css" href="{% static 'assets/style.css'%}"/>
</head>
<body>
    <div class="bg-image">
        <div class="signup-container">
            <h1>Login</h1>
            <h2>Unlimited movies, TV shows, and more</h2>
            <form action="" method="POST">
                {% csrf_token%}
                <input type="text" name = "username" placeholder="Username" />
                <input type="text" name = "password" placeholder="Password" />
                <button style ="color: white" type="submit" class="signup">
            </form>
            <div class="help-text" align="center">
                <span>Ready to watch? Enter your email to create or restart</span>
                 <br>
                 <br>
                <span>Dont have an account?<a href="signup.html">Signup</a></span> 
            </div>
        </div>
    </div>
    
</body>
</html>